<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<panel caption="test">
<target buildfile="javascript.xml">js.theDefaultTarget</target>
<buildfile>javascript.xml</buildfile>
<dir>somemore</dir>
</panel>
<shortcut icon="bomb.png" buildfile="javascript.xml" target="js.timer"/>
</config>
